# Managed by Ansible
[Desktop Entry]
Version=1.0
Name=QR
GenericName=QR
Comment=Application to read a QR code from an image
Exec=exo-open --launch TerminalEmulator flameshot_qr %F
Icon=ibus
Type=Application
Categories=Graphics
