# Managed by Ansible

[Unit]
Description=Dropbox as a user service
After=local-fs.target network.target

[Service]
Type=forking
ExecStart=/usr/bin/dropbox start -i
Restart=always
RestartSec=5

[Install]
WantedBy=default.target