# Managed by Ansible

[Unit]
Description=Dropbox as a user service
After=local-fs.target network.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 15
ExecStart=%h/.dropbox-dist/dropboxd
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
[otislevoll@feddy ~]$ 
